body{
    background-color: #000;
    height: 100vh;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    padding:12px;
    width:300px;
    height: 500px;
}

.sidebar_navigation{
    background-color: #121212;
    border-radius:8px;
    padding:16px 0 0 16px;
}

.logo{
    background: #121212;
    display:flex;
    border-radius:8px ;
    padding:16px 0 0 16px;
}
.sidebar_navigation .logo img{
    width:80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding:0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-family: "DM-sans", sans-serif;
}
.sidebar nav ul li a .fa{
    margin-right: 20px;
}

.biblioteca{
    margin-top: 8px;
    padding-top: 10px!important;
    position: relative;
    padding-top: 0;
    
    background-color: #121212;
    border-radius: 8px  8px 0px 0px;
}

.sua_biblioteca{
    position: absolute;
    background-color: #121212;
    top: 0;
    z-index: 10;
    height: 56px;
    width: 100%;
    
    border-radius: 8px  8px 0px 0px;
    display: flex;
    align-content: center;
    align-items: center;
    
}
.sombra{box-shadow: -3px 6px 11px 5px rgba(0,0,0,.6);}
.sua_biblioteca a{
    margin-left: 40px;
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 16px;
    font-family: "DM-sans", sans-serif;
}
.sua_biblioteca a .fa{
    margin-right: 15px;
}
.sua_biblioteca button{
    position: absolute;
    right: 14px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
}
.sua_biblioteca button span{
    color: #b3b3b3;
}
.sua_biblioteca button:hover{
    background-color: #1a1a1a;
}

.sidebar nav ul li a:hover,
.sua_biblioteca a:hover{
    color: #fff;
}

.playlist{
    margin-top: 40px;
    padding: 5px 10px 0px 10px;
    background-color: #121212;
    height: 165px;
    overflow: hidden;
}
.playlist section{
    margin-top: 20px;
    height: 100px;
    background-color: #242424;
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.playlist:hover{
    overflow-y: scroll;
    padding-right: 0!important;
} 
.playlist::-webkit-scrollbar{
    width: 10px;
} 
.playlist::-webkit-scrollbar-track{
    background: transparent;
    
} 
.playlist::-webkit-scrollbar-thumb{
    /* border: solid 10px #b3b3b376 ; */
    background: #fffdfd49;
    
}
.playlist::-webkit-scrollbar-thumb:hover{
    background-color: #b3b3b3;
}

.playlist .sub-titulo,
.playlist p{
    color: #fff;
    font-family: "DM-sans", sans-serif;
}

.playlist .sub-titulo{
    font-weight: 700;
    font-size: 15px;
}
.playlist p{
    font-weight: 400;
    font-size: 13px;
}
.playlist button{
    font-weight: bold;
    width: 125px;
    min-width: 114px;
    max-width: 130px;
    height: 32px;
    border-radius: 40px;
    font-family: "DM-sans", sans-serif;
}
.playlist button:hover{
    font-size: 13.5px;
    width: 130px;
    height: 34px;
}

footer{
    width: 98.5vw;
    height: 80px;
    background:  linear-gradient(90deg,#af2896,#509bf5);
    position: fixed;
    bottom: 0;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    color: #fff;
    margin: 10px;
    font-weight: 700;
    font-family: "DM-sans", sans-serif;
}
footer button{
    width: 250px;
    height: 62px;
    border-radius: 30px;
    font-weight: bold;
    font-family: "DM-sans", sans-serif;
    font-size: 16px;
    margin-right: 10px;
}
footer button:hover{
    width: 255px;
    height: 63px;
}