.sidebar{
    padding:12px;
    height: 100%;
    
}

.sidebar_navigation{
    background-color: var(--bg-2);
    border-radius:8px;
    padding:16px 0 0 16px;
}

.logo{
    background: var(--bg-2);
    display:flex;
    border-radius:8px ;
    padding:16px 0 0 16px;
}
.sidebar_navigation .logo img{
    width:80px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding:0 20px 10px 20px;
}

.sidebar ul li{
    padding: 10px 0;
}

.sidebar nav ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-family:var(--font-dm-sans);
}
.sidebar nav ul li a .fa{
    margin-right: 20px;
}

.biblioteca{
    margin-top: 8px;
    padding-top: 10px!important;
    position: relative;
    padding-top: 0;
    
    background-color: var(--bg-2);
    border-radius: 8px  8px 0px 0px;
}

.sua_biblioteca{
    position: absolute;
    background-color: var(--bg-2);
    top: 0;
    z-index: 10;
    height: 56px;
    width: 100%;
    
    border-radius: 8px  8px 0px 0px;
    display: flex;
    align-content: center;
    align-items: center;
    
}
.sombra{box-shadow: -3px 6px 11px 5px rgba(0,0,0,.6);}
.sua_biblioteca a{
    margin-left: 40px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
    font-family:var(--font-dm-sans);
}
.sua_biblioteca a .fa{
    margin-right: 15px;
}
.sua_biblioteca button{
    position: absolute;
    right: 14px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
}
.sua_biblioteca button span{
    color: var(--text-color);
}
.sua_biblioteca button:hover{
    background-color: var(--bg-3);
}

.sidebar nav ul li a:hover,
.sua_biblioteca a:hover{
    color: var(--text-color-2);
}

.playlist{
    margin-top: 40px;
    padding: 5px 10px 0px 10px;
    background-color: var(--bg-2);
    height: 165px;
    overflow: hidden;
}
.playlist section{
    margin-top: 20px;
    height: 100px;
    background-color: var(--bg-4);
    border-radius: 8px;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.playlist:hover{
    overflow-y: scroll;
    padding-right: 0!important;
} 
.playlist::-webkit-scrollbar{
    width: 10px;
} 
.playlist::-webkit-scrollbar-track{
    background: transparent;
    
} 
.playlist::-webkit-scrollbar-thumb{
    background: var(--bg-trans);
    
}
.playlist::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color);
}

.playlist .sub-titulo,
.playlist p{
    color: var(--text-color-2);
    font-family: var(--font-dm-sans);
}

.playlist .sub-titulo{
    font-weight: 700;
    font-size: 15px;
}
.playlist p{
    font-weight: 400;
    font-size: 13px;
}
.playlist button{
    font-weight: bold;
    width: 125px;
    min-width: 114px;
    max-width: 130px;
    height: 32px;
    border-radius: 40px;
    font-family: var(--font-dm-sans);
}
.playlist button:hover{
    font-size: 13.5px;
    width: 130px;
    height: 34px;
}

