
.sidebar_footer{
    background-color: var(--bg-2);
    border-radius: 0px 0px 8px 8px;
}
.sidebar_footer_links{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 10px 0px 30px;
}
.sidebar_footer_links a,
.sidebar_footer_rodape a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 11px;
    font-family: var(--font-dm-sans);
}

.sidebar_footer_rodape{
    height: 90px;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 0px 30px;
    justify-content: space-between;
}
.sidebar_footer_rodape button{
    width: 174px;
    height: 32px;
    background-color: transparent;
    border: solid 1px var(--text-color);
    border-radius: 30px;
    margin-bottom: 20px;
}
.sidebar_footer_rodape button span{
    color: var(--text-color);
    font-weight: bold;
    font-size: 14px;
}
body:not(.dark-theme){
    .sidebar_footer_rodape button{
        border-color: var(--accent-2);
    }
    .sidebar_footer_rodape button span{
        color: var(--accent-2);
    }
}
.sidebar_footer_rodape button:hover{
    width: 175px;
    height: 33px;
}
.sidebar_footer_rodape button:hover span{
    font-size: 15px;
}