:root{
    /*/Font/*/
    --font-dm-sans:"DM Sans", sans-serif;

    /*Cores*/
    --bg-1:#000;
    --bg-2:#121212;
    --bg-3:#1a1a1a;
    --bg-4:#242424;
    --bg-5:#181818;
    --bg-trans:#fffdfd49;
    --bg-play:#1ed55e;
    --bg-play-trans:#24ed6e;
    --bg-trans-card: #282828;
    --bg-gradient-1:#af2896;
    --bg-gradient-2:#509bf5;
    --text-color:#b3b3b3;
    --text-color-2:#fff;
}